extends ../layouts/app

block content
    div.d-flex.justify-content-between
        h1(class=["animation", "a1"]) List of Faculty Staff
        a(href="/faculty/create", class=["btn", "btn-info", "float-right", "my-auto"]) Add Faculty Record
    table(class=["table", "table-striped"], id="list")
        thead
            tr
                th Name
                th Gender
                th Email
                th Address
                th Course Code
                th Phone Numbers
                th Actions
        tbody
        each faculty in list
            tr
                td=faculty.name
                td=faculty.gender
                td=faculty.email
                td=faculty.address.street_address+', ' + faculty.address.city + ', ' + faculty.address.country
                td=faculty.course_code
                td
                    ul.dropdown-menu
                        each phone in faculty.phone_numbers
                            li #{phone}
                td.mx-auto
                    a(href="/edit/" + faculty._id, class="btn btn-warning ") Edit
                    a(href="/delete/" + faculty._id, class="btn btn-danger") Delete

